html, body{
  background-image: linear-gradient(#358597, #8fcad6);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: 'Cookie', cursive;
  height: 100%;
}
.circle {
  position:absolute;
  width: 250px;
  height: 250px;
  line-height: 500px;
  border-radius: 50%;
  margin-top:50px;
  background: linear-gradient(#F4A896, rgb(218, 167, 216));
}

.heading{
  margin-top: 140px;
  z-index:2;
}

.btn-css{
  margin-top: 150px;
  width: 200px;
  border-radius: 50px;
  color: white;
  font-size: 2em;
  padding: 0px;
  cursor: pointer;
  background: linear-gradient(90deg,#F4A896, rgb(218, 167, 216));
  border-style: none;
}

.heading-selection{
  margin-top:60px;
  height:100%;
}

.circle-button{
  border-radius: 90px;
  height:150px;
  width: 150px;
  font-size: 2em;
  color:white;
  margin-top: 50px;
  border-style: none;
  background: linear-gradient(#F4A896, rgb(218, 167, 216));
}

.hidden {
  display:none;
}

.quote-title{
  text-align:center;
  margin-top:10px;
}

.quote-box{
  background-color: #F4A896;
  position: absolute;
  height:80%;
  opacity: 95%;
}

.quote-text-container{
  margin-top: 30px;
  font-size: 1.5em;
  font-family: 'Playfair Display', serif;
  width:80%;
}

.quote-text{
  padding-left: 60px;
  text-align: center;

}

.return-home{
  margin-left:100px;
  bottom: 20px;
  position: absolute;
}

.wt-btn_sign:hover {
    color: #ffde7d;
    background: #f6416c;
    }

.wt-btn_sign-bound {
    display: block;
    overflow: hidden;
}

.wt-btn_sign-bound span {
    position: relative;
    display: inline-block;
  padding:0 22px;
        -webkit-animation: wt-btn_sign-marquee 2s linear infinite;
        -moz-animation: wt-btn_sign-marquee 2s linear infinite;
        -o-animation: wt-btn_sign-marquee 2s linear infinite;
        animation: wt-btn_sign-marquee 2s linear infinite;
}

.wt-btn_sign-bound span:after {
        content:attr(data-text);
        position: absolute;
        left: 100%;
        padding: 0 23px;
    }

@-webkit-keyframes wt-btn_sign-marquee {
    0% {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0)
    }

    100% {
        -webkit-transform: translate3d(-100%,0,0);
        transform: translate3d(-100%,0,0)
    }
}

@-moz-keyframes wt-btn_sign-marquee {
    0% {
        -moz-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0)
    }

    100% {
        -moz-transform: translate3d(-100%,0,0);
        transform: translate3d(-100%,0,0)
    }
}

@-o-keyframes wt-btn_sign-marquee {
    0% {
        transform: translate3d(0,0,0)
    }

    100% {
        transform: translate3d(-100%,0,0)
    }
}

@keyframes wt-btn_sign-marquee {
    0% {
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0)
    }

    100% {
        -webkit-transform: translate3d(-100%,0,0);
        -moz-transform: translate3d(-100%,0,0);
        transform: translate3d(-100%,0,0)
    }
}
